@font-face {
  font-family: 'pretart';
  src: url(fonts/PressStart2P-Regular.ttf);
}





body {

background-color: #000000 !important;
}

/* carousel */

.carousel-item{
height: 705px;
min-height: 200px;
background: no-repeat scroll center scroll;
-webkit-background-size: cover;
backround-size: cover;
/* carousel */
}

.carousel-control-next {
height: 10%;

}

.carousel-control-prev {
height: 10%;

}


/* tekst boven */

#boven {

width: 100%;
height: 24%;
padding-top: 2%;
padding-bottom: 2%;
font-family: pretart;
}




.glow {
  font-size: 200%;
  color: white;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
/* tekst boven */

/* projects */
#projects {
  background-color: black;
  border-width: 10px;
  border-color: white;

}

#textprojects {
font-family: pretart;
font-size: 18px;
color: white;
padding: 4px;
}

#textprojects2  {
font-family: pretart;
font-size: 11px;
color: white;
padding: 4px;
}

.imageproj {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
border-style: solid;

}

.imagehobby {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;


}
